<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.title | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency: "GTQ" }}</mat-card-subtitle>
  </mat-card-header>
  <div class="crop-image">
    <img [src]="product.image" />
  </div>
  <mat-card-content>
    <p>{{ product.description | slice: 0:10 }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-raised-button
      color="secondary"
      [routerLink]="['/products', product.id]"
      >Ver detalle</a
    >
    <button mat-raised-button color="primary" (click)="addCart(product)">
      Agregar al carrito
    </button>
  </mat-card-actions>
</mat-card>
<!-- 
<h3 appHighlight >{{ product.title | uppercase }}</h3>
<img [src]="product.image" alt="" />
<strong>{{ product.price | currency: "GTQ" }}</strong>
<p>{{ product.description | slice: 0:10 }}</p>
<p>{{ today | date: "short" }}</p>
<a [routerLink]="['/products',product.id]" >Ver detalle</a>
<p appHighlight>{{ (product.price / 10000) | exponential:2 }}</p>
<br />
<button mat-raised-button color="primary" (click)="addCart(product)">Agregar al carrito</button> -->
