/* You can add global styles to this file, and also import other style files */
// body {
//   margin: 0;
//   padding: 0;
// }

// .product-grid {
//     display: grid;
//     grid-template-columns: repeat(1,1fr);
// }

// @media (min-width: 576px) {
//     .product-grid {
//         display: grid;
//         grid-template-columns: repeat(3,1fr);
//     }
// }

.product-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); // nos hará breakpoints cada 300px
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
